<div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
    		<h2 class="panel-title">Login</h2>
 			</div>
      <div class="panel-body table">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group field" style="padding-bottom: 20px;">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, placeholder: 'E-mail Address', class: 'col-md-12 col-xs-12' %>
            </div>
            <div class="row" style="padding-bottom: 10px;">
              <div class="col-xs-12 col-sm-12 col-md-12">
	    					<div class="form-group field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'col-md-12 col-xs-12' %>
                </div>
	    				</div>
            </div>
            <div class="row">
              <% if devise_mapping.rememberable? -%>
                <div class="remember_me col-md-12 col-xs-12">
                  <%= f.check_box :remember_me, class: 'col-md-1 col-xs-1' %>
                  <%= f.label :remember_me, class: 'col-md-6 col-xs-6', style: 'margin-left: -20px;' %>
                </div>
              <% end -%>
            </div>
            <div class="actions" style="padding-bottom: 10px;">
              <%= f.submit "Login", class: 'btn btn-info btn-block' %>
            </div>
        <% end %>
        <div class="table">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
